SUPABASE_URL=https://ecdrtaxvxlugbyyleomb.supabase.co

SUPABASE_PUBLISHABLE_KEY=TU_CLAVE_PUBLICABLE

SUPABASE_SECRET_KEY=TU_CLAVE_SECRETA

SUPABASE_JWKS_URL=https://ecdrtaxvxlugbyyleomb.supabase.co/auth/v1/.well-known/jwks.json

PUERTO=3000